In [70]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

matplotlib.rc('font', family = 'Noto Sans CJK JP')
matplotlib.rc('axes', unicode_minus = False)

# 데이터 불러오기

## Diagnosis

In [ ]:
diagnosis = pd.read_csv('./01 Patient_Diagnosis_Data.csv')

:

In [3]:
diagnosis.head()

,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,종양진행여부,직업,체중,헤모글로빈수치,혈전합병증여부,환자통증정도,흡연여부,통증기간(월),입원일자,퇴원일자
0,1052PT,10.5,2,44.0,0.0,0,0,0,0,0,...,0,사무직,75.0,15.1,0,7,1,0.2,2011-03-27,2011-03-28
1,1056PT,46.7,3,21.0,1.0,0,0,0,0,0,...,0,군인,70.0,16.0,0,7,0,5.0,2011-04-03,2011-04-06
2,1093PT,30.1,3,13.0,0.0,0,0,0,0,0,...,0,NaN,68.0,15.0,0,5,0,24.0,2011-05-09,2011-05-09
3,1687PT,45.4,3,NaN,0.0,0,0,0,0,0,...,0,학생,70.0,15.8,0,7,0,2.0,2013-02-10,2013-02-13
4,1674PT,52.2,1,31.0,0.0,1,0,1,0,0,...,0,농업,77.0,15.0,0,8,0,1.0,2013-03-18,2013-03-19

In [58]:
def count_id(df):
    count = len(df['환자ID'].unique())
    print(f'unique ID : {count}')

In [59]:
def null_check(df):
    col_name = []
    value = []
    null_df = pd.DataFrame()

    for item in df.columns:
        if df[item].isnull().sum() > 0:
            null_df[item] = [df[item].isnull().sum()]

    return null_df

In [65]:
diagnosis_null = null_check(diagnosis)
diagnosis_null

    ODI  가족력   직업  헤모글로빈수치  통증기간(월)
0  1432   51  415        1        4

In [61]:
count_id(diagnosis)

unique ID : 1894

In [67]:
# ODI 0 check
diagnosis[diagnosis['ODI'] != 0]

,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,종양진행여부,직업,체중,헤모글로빈수치,혈전합병증여부,환자통증정도,흡연여부,통증기간(월),입원일자,퇴원일자
0,1052PT,10.5,2,44.0,0.0,0,0,0,0,0,...,0,사무직,75.0,15.10,0,7,1,0.2,2011-03-27,2011-03-28
1,1056PT,46.7,3,21.0,1.0,0,0,0,0,0,...,0,군인,70.0,16.00,0,7,0,5.0,2011-04-03,2011-04-06
2,1093PT,30.1,3,13.0,0.0,0,0,0,0,0,...,0,NaN,68.0,15.00,0,5,0,24.0,2011-05-09,2011-05-09
3,1687PT,45.4,3,NaN,0.0,0,0,0,0,0,...,0,학생,70.0,15.80,0,7,0,2.0,2013-02-10,2013-02-13
4,1674PT,52.2,1,31.0,0.0,1,0,1,0,0,...,0,농업,77.0,15.00,0,8,0,1.0,2013-03-18,2013-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,550PT,23.5,3,55.0,0.0,0,0,0,0,0,...,0,사무직,56.7,19.28,0,10,0,1.0,2020-12-29,2021-01-02
1890,739PT,31.4,3,NaN,0.0,0,0,0,0,0,...,0,자영업,61.0,13.66,0,7,1,1.0,2020-12-29,2021-01-02
1891,890PT,24.9,1,NaN,0.0,0,1,0,0,0,...,0,NaN,55.0,15.62,0,8,1,1.0,2020-12-31,2021-01-02
1892,891PT,45.8,4,NaN,0.0,0,0,0,0,0,...,0,주부,56.0,13.61,0,7,0,1.0,2020-12-31,2021-01-02
1893,928PT,47.7,1,NaN,0.0,0,0,0,0,0,...,0,NaN,71.0,14.78,0,7,0,1.0,2020-12-30,2021-01-02

In [80]:
# 가족력 index
null_familiy = diagnosis[diagnosis['가족력'].isnull()].index.tolist()
null_familiy

[324,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 336,
 337,
 338,
 340,
 347,
 378,
 445,
 761,
 764,
 765,
 768,
 769,
 797,
 1007,
 1028,
 1029,
 1031,
 1454,
 1455,
 1458,
 1459,
 1460,
 1462,
 1463,
 1464,
 1465,
 1467,
 1469,
 1470,
 1471,
 1472,
 1473,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1484,
 1499]

In [82]:
diagnosis.iloc[[324], :]

,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,종양진행여부,직업,체중,헤모글로빈수치,혈전합병증여부,환자통증정도,흡연여부,통증기간(월),입원일자,퇴원일자
324,1696PT,43.7,1,NaN,NaN,0,0,0,0,0,...,0,주부,72.0,13.5,0,7,0,6.0,2013-12-11,2013-12-14

In [83]:
diagnosis.iloc[[1482], :]

,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,종양진행여부,직업,체중,헤모글로빈수치,혈전합병증여부,환자통증정도,흡연여부,통증기간(월),입원일자,퇴원일자
1482,1742PT,38.4,2,NaN,NaN,0,0,0,0,0,...,0,학생,73.0,15.9,0,7,1,9.0,2014-01-10,2014-01-11

In [84]:
diagnosis['직업'].value_counts()

사무직      449
자영업      171
무직       164
학생       135
주부       114
군인        90
공무원       51
운수업       50
노동직       42
의료직       40
농업        40
사업가       39
교사        30
특수전문직     23
건설업       17
운동선수      14
예술가       10
Name: 직업, dtype: int64

In [ ]:
# 품질튻헝 파악 정제방향 , 이상치 결측치 파생변수

## Surgery

In [95]:
def count_value(df, column):
    print(f'{column} count')
    print(df[column].value_counts())

In [90]:
surgery = pd.read_csv('./02 Patient_Surgery_Data.csv')

In [91]:
srugery_null = null_check(srugery)

In [92]:
srugery_null

   수술기법  수술시간  헤모글로빈수치  통증기간(월)
0    81    54        1        4

In [93]:
count_id(surgery)

unique ID : 1894

In [96]:
count_value(surgery, '수술기법')

수술기법 count
TELD    1673
IELD     140
Name: 수술기법, dtype: int64

In [97]:
count_value(surgery, '수술실패여부')

수술실패여부 count
0    1779
1     115
Name: 수술실패여부, dtype: int64

In [98]:
count_value(surgery, '재발여부')

재발여부 count
0    1667
1     227
Name: 재발여부, dtype: int64

In [99]:
count_value(surgery, '환자통증정도')

환자통증정도 count
7     885
8     410
9     172
2     130
10    107
1      52
5      46
3      44
6      40
4       8
Name: 환자통증정도, dtype: int64

## Meical_image

In [ ]:
mdeical_image = pd.read_csv('./03 Medical_Image_Data.csv', encoding = 'euc-kr')

:

In [41]:
mdeical_null = null_check(mdeical_image)

In [42]:
mdeical_null

   지방축적도  PI  PT  Seg Angle(raw)  골밀도  디스크단면적
0      3   4   4               1  896       1

In [63]:
count_id(mdeical_image)

unique ID : 1894

In [87]:
count_value(surgery, '수술기법')

NameError: name 'surgery' is not defined